
.team-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color:$white; 
    border-radius: 50%;
    &:hover,
    &:focus {
        background-color:$accent-cl;
    }
    
}
.join-icon-link{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color:$bg-icon; 
    border-radius: 50%;
    &:hover,
    &:focus {
    background-color:$accent-cl;
}
}

.team-icon-link{

    &:hover .team-icon-svg,
    &:focus .team-icon-svg{
        fill:$white;  
    }
}

.join-icon-link{
    &:hover .join-icon-svg,
    &:focus .join-icon-svg{
        fill:$white;      
}
}

.team-icon-svg{
    width: 20px;
    height: 20px;
    fill: $cl-icon;
}
.join-icon-svg{
    width: 20px;
    height: 20px;
    fill: $white;
   
}





